<div id="<%= dom_id credential %>">
  <p>
    <strong>Title:</strong>
    <%= credential.title %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= credential.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= credential.password %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= credential.website %>
  </p>

</div>
