<h1>Editing credential</h1>

<%
=begin%>
 <%= render "form", credential: @credential %> 
<%
=end%>
<%= form_with model: @credential  do |form| %>
    <%= form.number_field :user_id , value: @current_user.id, type: :hidden%>
    <%= form.label :title, "Title:" %>
    <%= form.text_field :title %>
    <br/><br/>
    <%= form.label :username, "Username:" %>
    <%= form.text_field :username %>
    <br/><br/>
    <%= form.label :password, "Password:" %>
    <%= form.text_field :password %>
    <span class="password-toggle-icon"> <i class="fas fa-eye"></i></span>
    <br/><br/>
    <%= form.label :website, "Website:" %>
    <%= form.text_field :website %>
    <br/><br/>
    <%= form.button  %>
<%end%>

<br>

<div>
  <%= link_to "Show this credential", @credential %> |
  <%= link_to "Back to credentials", credentials_path %>
</div>
