<p style="color: green"><%= notice %></p>

<%= render @credential %>

<div>
  <%= link_to "Edit this credential", edit_credential_path(@credential) %> |
  <%= link_to "Back to Home ", credentials_path %>
  <br/><br/>
  <%= button_to "Remove credential", @credential, method: :delete %>
</div>
